/* head */
#head {
    background-color: #fff;
    border-bottom: 1px solid #e8e8ea;
}
.head-wrap {
    width: 1000px;
    margin: 0 auto;
    height: 100px;
    overflow: hidden;
}
.head-wrap h1 a {
    display: block;
    background-image: url(//kaola-haitao.oss.kaolacdn.com/271c7d10-5167-443a-afe5-9f0729964b5e.png?x-oss-process=image/resize,w_210,h_0/quality,q_85&v=1);
    width: 330px;
    height: 65px;
    background-size: auto 65px;
    background-position: 0;
    background-repeat: no-repeat;
    cursor: pointer;
}
.head-wrap .page-header {
    margin: 0;
    padding: 0;
}
.head-wrap h1 {
    float: left;
    margin-top: 20px;
}
.page-header div {
    float: right;
    background: url(https://kaola-haitao.oss.kaolacdn.com/30bee055-69af-4f3a-a232-5f330cbc98c1_1008_200.png?x-oss-process=image/resize,w_504,h_0/quality,q_100&v=1) no-repeat;
    width:504px;
    height: 100px;
    margin-right: 40px;
}

/* login */
#show {
    background: #f8f8f8;
}
.show-wrap {
    width: 1000px;
    margin: 0 auto;
    height: 600px;
    position: relative;
}
.show-wrap > img {
    width: 400px;
    height: 203px;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -102px;
}



.login {
    position: absolute;
    background-color: #fff;
    right: 0;
    top: 110px;
}
/* login */
.login-wrap, .reg-wrap {
    width:350px;
    min-height: 220px;
    display: none;
}
.login .active {
    display: block;
}
.login-wrap h3 {
    text-align: center;
    color: red;
    /* display: none; */
    opacity: 0;
}
.login-wrap p {
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}
.login-wrap p a {
    color: orange;
    font-size: 12px;
}
.login-wrap .input-group {
    width: 300px;
    margin: 20px auto 0;
}
.login-wrap > button, .reg-wrap > button {
    display: block;
    width: 270px;
    border-radius: 18px;
    height: 36px;
    line-height: 36px;
    background-color: red;
    color: #fff;
    margin: 20px auto 20px;
    text-align: center;
}
a:hover {
    text-decoration: none;
}
.login-wrap > span {
    display: block;
    font-size: 12px;
    color: #999;
    text-align: center;
}
.login-wrap .login_icon {
    height: 42px;
    border-top: 1px solid #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_icon ul {
    display: flex;
}
.login_icon ul li {
    width: 30px;
    height: 23px;
    margin-right: 10px;
    background: url(https://kaola-haitao.oss.kaolacdn.com/fe663cdc-4eb9-4b2b-b587-6a97abcd8019.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}
.login_icon ul li:nth-of-type(1) {
    background-position: 0, 0;
}
.login_icon ul li:nth-of-type(2) {
    background-position: -32px, 0;
}
.login_icon ul li:nth-of-type(3) {
    background-position: -64px, 0;
}
.login_icon ul li:nth-of-type(4) {
    background-position: -96px, 0;
}
.login_icon ul li:nth-of-type(5) {
    background-position: -162px, 0;
}

/* register */
.reg-wrap {
    padding-top: 20px;
    /* display: none; */
}
label {
    display: block;
}
label.error {
    color: red;
}
.reg-wrap div span {
    margin-right: 20px;
}
.reg-wrap .input-group {
    width: 300px;
    margin: 20px auto;
}
.reg-wrap p {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    
}
.reg-wrap p span {
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
}
.reg-wrap p span:hover {
    color: red;
}